
 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="ut  f-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Plantation</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'posts/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <!-- <link href="{% static 'posts/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet"> -->
    <link href="{% static 'posts/vendor/simple-line-icons/css/simple-line-icons.css'%}" rel="stylesheet" type="text/css">
  

  <!-- Custom styles for this template -->
  <link href="{% static 'posts/css/landing-page.min.css'%}" rel="stylesheet">

</head>

<body>

 
   <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}"> <img class="img-fluid rounded-circle mb-3" src="{% static 'posts/img/Untitled.png'%}" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="btn btn-outline-success my-2 my-sm-0 active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    
      <li class="nav-item">
        <a class="btn btn-outline-success my-2 my-sm-0 " href="{% url 'about'%}" tabindex="-1" aria-disabled="true">About us</a>
      </li>
      <div class="btn-group">
    <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    what we do
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Hotculture</a>
    <a class="dropdown-item" href="#">Spicies</a>
    <a class="dropdown-item" href="#">Cashew farming</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Timber Plantation</a>
    <a class="dropdown-item" href="#">Liverstock</a>
    <a class="dropdown-item" href="#">Marketing </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">View all </a>



  </div>
</div>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      
    </form>
  </div>
</nav>
 
{% block content %} No post yet!{%endblock%}
  <!-- Testimonials -->
  

  <!-- Call to Action -->


  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2" >
            <li class="list-inline-item">
              <a href="{% url 'about'%}">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{% url 'contactview' %}">Contact</a>
             
            </li>
           
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy;  All Rights Reserved.</p>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Developed by  <a href="">Jenadius Nichoraus</a></p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'posts/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'posts/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>
