 
{% extends "users/base.html" %}

{% block content %}

<section class="showcase">
  <div class="row">

     <div class="col-md-12">
       <h1 style=" text-align: center"> Contact</h1>
     </div>
  </div>

    <div class="badge badge-pill badge-success">

      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img">
         <img src="" alt=" no upload yet">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <form action="" method="POST">
        	{%csrf_token%}
        	{{form.as_p}}
        	<button type="submit" class="btn-success"> create accout</button>
        </form>
         
       <a href="{% url 'login'%}" class=" btn btn-primary"> Alread have an account</a>
        </div>
      </div>
    </div>
 
  </section>
{%endblock%}
